# Format Style Options - Created with Clang Power Tools
---
BasedOnStyle: WebKit
AlignTrailingComments: true
AlignConsecutiveMacros: true
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: None
SortIncludes: false
PointerAlignment: Right
...
